.RepoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 95%);
  padding: 5px;
  margin: 8px;
  border-radius: 8px;

  &:hover {
    background-color: hsl(0, 0%, 90%);
  }

  p {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
