@import '../../scss/main.scss';

.Hero {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blueDarker;
  font-size: 40px;
  flex-direction: column;
  color: $blueLighter;

  h2 {
    font-size: 32px;
  }

  .Contribute {
    display: flex;
    align-items: baseline;

    p,
    a {
      font-size: 18px;
    }

    a {
      padding-left: 4px;
      text-decoration: none;
      color: $blue;
      font-weight: 600;
    }

    .github {
      background-color: $blue;
      height: 30px;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      overflow: scroll;

      img {
        height: 31px;
        display: block;
      }
    }
  }
}
