@import 'main';

.Input {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  width: 50%;

  label {
    padding-right: 70px;
    font-weight: 600;
    width: 150px;
    text-align: left;
  }

  .SelectElement {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $blueDarker;
    &:focus {
      outline: none;
    }
  }
}
