@import 'main';

.RepoFinder {
  width: 100%;
  height: auto;
  color: $blueDarker;

  form {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    button {
      margin-top: 20px;
      width: 150px;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      background: $blueDarker;
      border: none;
      color: $blueLighter;
      border-radius: 8px;

      &:hover {
        background: $blueDark;
      }

      &:focus {
        outline:none
      }
    }
  }
}
